* {
  box-sizing: border-box;

  /* VARIABLES */
  --body-color: rgb(13, 17, 53);
  --border-color: ivory;
  --header-color: rgb(17, 30, 77);
  --section-color: rgb(2, 120, 199);
  --page-title-color: rgb(19, 22, 40);
  --text-color: white;
  --highlight-color: greenyellow;

  --border: 2px solid var(--border-color);
  --border-thin: 1px solid var(--border-color);
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  --text-outline: -1px 0 var(--text-color), 0 1px var(--text-color),
    1px 0 var(--text-color), 0 -1px var(--text-color);
  --text-outline-light: -1px 0 var(--section-color), 0 1px var(--section-color),
    1px 0 var(--section-color), 0 -1px var(--section-color);
  --text-outline-dark: -1px 0 var(--header-color), 0 1px var(--header-color),
    1px 0 var(--header-color), 0 -1px var(--header-color);
  --text-outline-bright: -1px 0 var(--highlight-color),
    0 1px var(--highlight-color), 1px 0 var(--highlight-color),
    0 -1px var(--highlight-color);
}

body {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  min-height: 100vh;
  height: fit-content;
  background-color: var(--body-color);
  padding: 0;
}

/* HEADER */
.header {
  background-color: var(--header-color);
  border: var(--border);
  margin-bottom: -3px;
  display: flex;
  width: 100%;
  color: var(--text-color);
  font-family: spyagency;

  #brand-logo {
    width: 68px;
    height: 68px;
    margin: 20px;
  }

  #brand-text {
    flex-grow: 1;
    line-height: 0.5;

    h1 {
      font-size: 200%;
      text-shadow: var(--text-outline-light);
    }

    h3 {
      font-size: 150%;
      color: var(--border-color);
      text-shadow: var(--text-outline-light);
    }
  }
}

/* NAV BAR */
.nav {
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  position: sticky;
  background-color: var(--header-color);
  border: var(--border);
  border-radius: 0 0 6px 6px;
  box-shadow: var(--box-shadow);
  font-family: spyagency;
  margin-bottom: 15px;
  text-align: center;

  a {
    display: block;
    float: left;
    border: 2px solid var(--header-color);
    color: var(--highlight-color);
    text-shadow: var(--text-outline-dark);
    font-size: 16px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
  }

  .navlink {
    /* color: rgb(147, 147, 147); */
    padding-left: 5px;
  }

  .active {
    color: var(--feature-color-pt2);
  }

  :hover {
    background-color: var(--border-color);
    text-shadow: var(--text-outline-bright);
    color: var(--header-color);
  }

  .active:hover {
    color: rgb(142, 212, 35);
    text-shadow: var(--text-outline-dark);
  }
}

.subnav {
  margin: 15px 0;
  width: 100%;
}

/* MAIN CONTENT */
main {
  section::after {
    clear: both;
    content: "";
    display: block;
  }

  article {
    background-color: var(--section-color);
    background-image: url("../assets/blue-splash.jpg");
    background-position: center;
    background-size: cover;
    border: var(--border);
    border-radius: 3px;
    box-shadow: var(--box-shadow);
    color: var(--text-color);
    font-family: monospace;
    margin: 10px;
    padding: 10px;
    text-shadow: var(--text-outline-dark);
    width: auto;
  }

  .page_title {
    background-color: var(--section-color);
    border: var(--border);
    border-radius: 3px;
    box-shadow: var(--box-shadow);

    color: var(--page-title-color);
    font-family: spyagency;
    font-size: 160%;
    text-wrap: balance;

    margin: 10px;
    padding: 13px 0 13px 30px;
  }
}

/* FOOTER */
.footer {
  padding: 20px;
  margin-top: 20px;
  background-color: var(--header-color);
  background-size: cover;
  background-position: center;
  border: var(--border);
  border-radius: 5px 5px 0 0;

  h3 {
    font-family: spyagency;
    text-align: center;
    color: black;
    text-shadow: var(--text-outline);
  }
}

/* IMPORTED FONTS */
@font-face {
  font-family: champion;
  src: url(../assets/champion.ttf);
}

@font-face {
  font-family: spyagency;
  src: url(../assets/spyagency3_2.ttf);
}

/* RESPONSIVE BEHAVIOR */


@media screen and (max-width: 850px) {

  nav a {
    font-size: 12px;
    padding: 15px;
  }

  .page_title {
    font-size: 200%;
  }

  .home {
    .home_left {
      width: 100vw;
      padding: 0;
    }

    .home_right {
      width: 100vw;
      padding: 0;
    }

    #right_hc {
      #profile_pic {
        height: 400px;
        width: auto;
        margin: 0px 0px 0px 0px;

        h2 {
          font-size: 28px;
        }
      }

      #known_aliases {
        margin: 10px;
      }
    }
  }

  #about {
    #left_bc,
    #right_bc {
      width: 100%;
      padding: 0;
    }

    #right_bc {
      #superpowers_list {
        font-size: 250%;
      }
    }
  }

  #form_blocking {
    display: grid;
  }

  .form_col_heading {
    padding-top: 30px;
  }

  footer {
    font-size: 80%;
  }
}

@media screen and (max-width: 450px) {
  /* header {
    h1 {
      font-size: 135%;
    }

    h2 {
      font-size: 90%;
    }
  } */

  nav a {
    width: 50%;
  }

  section {
    margin-top: -115px;
    padding-top: 115px;
  }

  #home #left_hc {
    #narration {
      h2 {
        font-size: 195%;
      }

      h3 {
        width: 205px;
      }
    }
  }

  .port_center_contents,
  .port_right_contents {
    display: block;
    text-align: center;
  }

  #dialog-content {
    font-size: 16px;
  }

  button {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
