#contact {
  --feature-color-pt4: yellow;
  --text-outline-feature-pt4: -1px 0 var(--feature-color-pt4),
    0 1px var(--feature-color-pt4), 1px 0 var(--feature-color-pt4),
    0 -1px var(--feature-color-pt4);
  background-color: var(--section-color);
  border: var(--border);
  border-radius: 5px;
  display: flex;

  /* left column */
  .part_four {
    color: var(--feature-color-pt4);
  }

  #contact-left {
    float: left;
    width: 75%;
  }

  #contact_info_title {
    color: var(--body-color);
    text-shadow: var(--text-outline-feature-pt4);

    font-size: 250%;
    padding-bottom: 20px;
  }

  p {
    font-family: champion;
    font-size: 2.25em;
    text-wrap: balance;
    margin: 70px;
    padding-bottom: 35px;
    text-align: center;
  }

  #contact-right {
    float: left;
    width: 25%;
  }

  #rc_content {
    background-image: url("items/animated-developer2.png");
    background-position: top;
    padding-bottom: 0px;
    height: 425px;
  }

  #rc_title {
    font-size: 180%;
    padding-bottom: 30px;
  }

  .contact_meta_name {
    padding-top: 30px;
  }

  a.contact_link {
    color: var(--border-color);
    font-size: 1.2em;
    text-shadow: -1px 0 var(--body-color), 0 1px var(--body-color),
      1px 0 var(--body-color), 0 -1px var(--body-color);
  }
}
